<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Forms Exemple</title>
<style>
#app {
  text-align: left;
}
img {
  width: 30%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}
</style>

<script>
new Vue({
  el: '#app',
  data: {
    image: '',
    items: [1, 2, 3, 4, 5],
  },
  methods: {
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      this.createImage(files[0]);
    },
    createImage(file) {
      var image = new Image();
      var reader = new FileReader();
      var vm = this;

      reader.onload = (e) => {
        vm.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImage: function (e) {
      this.image = '';
    }
  }
})



function addNew() {
  var newImage = document.createElement("img");
  newImage.src = "http://www.cathaypacific.com/content/dam/cx/about-us/new-livery/The_nose.jpg";
 document.getElementById("container").appendChild(newImage);
}
function addNew1() {
  var newImage = document.createElement("img");
  newImage.src = "https://c2.staticflickr.com/4/3365/5711691377_7866b104b7_b.jpg";
 document.getElementById("container").appendChild(newImage);
}
function addNew2() {
  var newImage = document.createElement("img");
  newImage.src = "https://c2.staticflickr.com/4/3365/5711691377_7866b104b7_b.jpg";
 document.getElementById("container").appendChild(newImage);
}
function addNew3() {
  var newImage = document.createElement("img");
  newImage.src = "https://c1.staticflickr.com/3/2523/4234866246_bd7810e71d_b.jpg";
 document.getElementById("container").appendChild(newImage);
}
function addNew4() {
  var newImage = document.createElement("img");
  newImage.src = "https://c2.staticflickr.com/4/3365/5711691377_7866b104b7_b.jpg";
 document.getElementById("container").appendChild(newImage);
}
</script>
</head>

<body>
<form action="" method="get">
<table width="45%" height="30%" border="0" cellspacing="3" cellpadding="3" align="center" bgcolor="#FF6600">
    <tr>
    <tr>
        <td width="15%">&nbsp;</td>
        <td width="70%"><h2 align="center">Edit Classifieds</h2></td>
        <td width="15%">&nbsp;</td>
    </tr>
    <tr>
      <td>  </td>
      <td>Title</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><textarea id="textarea3" name="textarea3"placeholder="Add Title"></textarea></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>Category Groups</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <select id="country" name="country" >
          <option value="Electronics">Electronics</option>
          <option value="Real Estate">Real Estate</option>
          <option value="Vehicles">Vehicles</option>
          <option value="Services">Services</option>
          <option value="Jobs">Jobs</option>
          <option value="Fashion">Fashion</option>
          <option value="Tools and Materials">Tools and Materials</option>
          <option value="Hausehold">Hausehold</option>
          <option value="For Kids">For Kids</option>
          <option value="Culture and Hobby">Culture and Hobby</option>       
          <option value="Appliances">Appliances</option>
          <option value="Everythink Else">Everythink Else</option>    
        </select>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>Category</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>            <select id="country" name="country" >
        <option value="Electronics">Electronics</option>
        <option value="Real Estate">Real Estate</option>
        <option value="Vehicles">Vehicles</option>
        <option value="Services">Services</option>
        <option value="Jobs">Jobs</option>
        <option value="Fashion">Fashion</option>
        <option value="Tools and Materials">Tools and Materials</option>
        <option value="Hausehold">Hausehold</option>
        <option value="For Kids">For Kids</option>
        <option value="Culture and Hobby">Culture and Hobby</option>       
        <option value="Appliances">Appliances</option>
        <option value="Everythink Else">Everythink Else</option>    
        </select></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>Description</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><textarea id="textarea" name="textarea" rows="5" cols="60" placeholder="Detailed description of your item or offering..."></textarea></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><div id="app">
        <div v-for="item in items">
          <div v-if="!image">
            <input type="file" @change="onFileChange" value="Select an image">
            </div>
          <div v-else>
            <img :src="image"/>
            <button @click="removeImage">Remove image</button>
            </div>
          </div>
  </div>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><div id="app">
        <div v-for="item in items">
          <div v-if="!image">
            <input type="file" @change="onFileChange" value="Select an image">
            </div>
          <div v-else>
            <img :src="image"/>
            <button @click="removeImage">Remove image</button>
            </div>
          </div>
  </div></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><div id="app">
        <div v-for="item in items">
          <div v-if="!image">
            <input type="file" @change="onFileChange" value="Select an image">
            </div>
          <div v-else>
            <img :src="image"/>
            <button @click="removeImage">Remove image</button>
            </div>
          </div>
  </div></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><div id="container" ></div>
  </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>Price
        <input id="lastname" type="number" value="" /></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td align="center"><h3><input type="submit" id="edit" name="edit" value="Save"/></h3></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
    </tr>
  </table>
</form>
</body>
</html>
