<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sign in</title>
  <link rel="stylesheet" th:href="@{/login.css}"/>
</head>
<body>
<a th:href="@{/home}"><img src="https://st.depositphotos.com/1364916/4294/v/950/depositphotos_42942807-stock-illustration-house-and-waves-logo-vector.jpg" height="70" width="70"></a>
<form class="login-form" method="post">
  <table width="24%" height="209" border="0" align="center" bgcolor="#34495e" style="text-align:center" >
    <tr>
      <td colspan="2"><strong><em>LOG IN</em></strong></td>
    </tr>
    <tr>
      <td width="50%" height="38">Username</td>
      <td width="50%" ><input bgcolor="#FFFF99" placeholder="username" name="username" type="text" value=""/></td>
    </tr>
    <tr>
      <td width="50%" height="50">Password</td>
      <td width="50%"><input bgcolor="#FFFF99" type="password" placeholder="password" name="password" value=""/></td>
    </tr>
    <tr>
      <td><input bgcolor="#FFFF99" type="submit" id="send" name="send" value="Log In"/></td>
      <td align="center"><h5><a th:href="@{/registration}">Registration</a></h5></td>
    </tr>
  </table>
</form>
</body></html>