<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Forms Exemple</title>
<script>
                       
            function nameValidator(){
                var name = document.regForm.fullName.value;
                var errName = document.getElementById("errFName");
                if(name == "" || name == null){
                    //alert(name);
                    errName.innerHTML = "Provide Name";
                    errName.style.color = "red";
                }
            }
            function userNameValidator(){
                var userName = document.regForm.userName.value;
                var errUserName = document.getElementById("errUName");
                if(userName=="" || userName==null){
                    errUserName.innerHTML = "Provide User Name";
                    errUserName.style.color = "red";
                }
            }
            
            function emailValidator(){
                var email = document.regForm.email.value;
                var errEmail = document.getElementById("errEmail");
                if(email=="" || email==null){
                    errEmail.innerHTML = "Provide email";
                    errEmail.style.color = "red";
                }
            }
            
            function phoneValidator(){
                var phone = document.regForm.phone.value;
                var errPhone = document.getElementById("errPhone");
                if(phone=="" || phone==null){
                    errPhone.innerHTML = "Provide Phone number";
                    errPhone.style.color = "red";
                }
            }
            
            function passwordValidator(){
                var pwd = document.regForm.password.value;
                var confirmPwd = document.regForm.confirmPassword.value;
                var errpwd = document.getElementById("errPwd");
                var errConfirmPwd = document.getElementById("errConfirmPwd");
                if(pwd=="" || pwd==null){
                    errpwd.innerHTML="Choose a password";
                    errpwd.style.color = "red";
                }
                if(confirmPwd == "" || confirmPwd == null){
                    errConfirmPwd.innerHTML = "Re-type the password"
                    errConfirmPwd.style.color = "red";
                }
                else if(pwd!=confirmPwd) {
                    errConfirmPwd.innerHTML = "Password don't match";
                }
            }
              
            function validator(){
                nameValidator();
                userNameValidator();
                emailValidator();
                phoneValidator();
                passwordValidator();
                genderValidator();
            }
</script>
   <style>
   		.text { color: #003;
				text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			text-shadow: #8A7BA8 0 0 10px;
		}
		.rot {-moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipV;
            -ms-filter: 'FlipV'
		}
body {
  background-color: #fff;
}
.wrapper {
  height: 220px;
  width: 654px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}
	</style>
</head>

<body class="container">
<a href="Home1.html"><img src="https://st.depositphotos.com/1364916/4294/v/950/depositphotos_42942807-stock-illustration-house-and-waves-logo-vector.jpg" height="70" width="70"></a>
<table width="716" height="414" border="0" align="center" cellpadding="3" cellspacing="3" bgcolor="#fdf1ec" class="wrapper">
		<tr>
        <td width="147">&nbsp;</td>
        <td width="461"><h1>Edit Informatrion</h1></td>
        <td width="35">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
        <form method="post" role="form" action="/updateUser" class=" form-horizontal container jumbotron" name="regForm">
            <div class="form-group">
                <label for="name" class="control-label col-sm-2">First Name:</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" name="firstName" maxlength="10" placeholder="Enter name" />
                </div>
                <span class="col-sm-4" ><p id="errFName" ></p></span>
             </div>    
           
            <div class="form-group">
                <label for="userName" class="control-label col-sm-2">Last Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="lastName" maxlength="7" placeholder="Enter userEntity name">
                </div>
                 <span class="col-sm-6"><p id="errUName"> </p></span>
            </div>
            

            <div class="form-group">
                <label for="phone" class="control-label col-sm-2">Phone No.:</label>
                <div class="col-sm-4">
                     <input type="tel" class="form-control" name="phoneNumber" placeholder="+374xxxxxxxxx">
                </div>
                <span class="col-sm-6" ><p id="errPhone"> </p></span>
            </div>
            <div class="col-sm-6">
                <input type="submit" id="update_user" name="update_user" value="Update" class="btn btn-primary btn-lg" Click="validator()"></input>
            </div>
            
      <div><h2>Change Password</h2></div>
      
            <div class="form-group">
                <label for="pwd" class="control-label col-sm-2">Old Password:</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" name="password" maxlength="6" placeholder="Enter password">
                </div>
                 <span class="col-sm-6" ><p id="errPwd"> </p></span>
            </div>
            <div class="form-group">
                <label for="pwd" class="control-label col-sm-2">New Password:</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" id="new_password" name="new_password" maxlength="6" placeholder="Enter password">
                </div>
                 <span class="col-sm-6" ><p id="errPwd"> </p></span>
            </div>
            
            <div class="form-group">
                <label for="cnfrmPwd" class="control-label col-sm-2">Confirm Password:</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" name="confirmPassword" maxlength="6" placeholder="Re-type password">
                </div>
                 <span class="col-sm-6" ><p id="errConfirmPwd"> </p></span>
            </div>
            
            <div class="col-sm-6">
                <input type="submit" id="change_pass" name="change_pass" value="Change" class="btn btn-primary btn-lg" Click="validator()"></input>
            </div>
        </form>
        </td>
        <td>&nbsp;</td>
        </tr>
      
    </table>
</form>
</body>
</html>
