<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Title</title>
</head>
<body>
<form  method="post">
    First name: <input type="text" name="firstName"><br>
    Last name: <input type="text" name="lastName"><br>
        Last name: <input type="text" name="email"><br>
        Last name: <input type="text" name="email"><br>
        Last name: <input type="text" name="phoneNumber"><br>
        Last name: <input type="text" name="password"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>