<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Title</title>
</head>
<body>
<form  method="post" action="/api/users">
    First name: <input type="text" name="firstName"><br>
    Last name: <input type="text" name="lastName"><br>
    EMail address: <input type="text" name="email"><br>
        Phone number: <input type="text" name="phoneNumber"><br>
        Password: <input type="text" name="password"><br>
    <input type="submit" value="Submit">
</form>
<tr th:each ="person : ${users}">
    <td th:utext="${person.firstName}">...</td>
    <td th:utext="${person.lastName}">...</td>
</tr>

</body>
</html>