<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Forms Exemple</title>
<script>
                       
            function nameValidator(){
                var name = document.regForm.fullName.value;
                var errName = document.getElementById("errFName");
                if(name == "" || name == null){
                    //alert(name);
                    errName.innerHTML = "Provide Name";
                    errName.style.color = "red";
                }
            }
            function userNameValidator(){
                var userName = document.regForm.userName.value;
                var errUserName = document.getElementById("errUName");
                if(userName=="" || userName==null){
                    errUserName.innerHTML = "Provide User Name";
                    errUserName.style.color = "red";
                }
            }
            
            function emailValidator(){
                var email = document.regForm.email.value;
                var errEmail = document.getElementById("errEmail");
                if(email=="" || email==null){
                    errEmail.innerHTML = "Provide email";
                    errEmail.style.color = "red";
                }
            }
            
            function phoneValidator(){
                var phone = document.regForm.phone.value;
                var errPhone = document.getElementById("errPhone");
                if(phone=="" || phone==null){
                    errPhone.innerHTML = "Provide Phone number";
                    errPhone.style.color = "red";
                }
            }
            
            function passwordValidator(){
                var pwd = document.regForm.password.value;
                var confirmPwd = document.regForm.confirmPassword.value;
                var errpwd = document.getElementById("errPwd");
                var errConfirmPwd = document.getElementById("errConfirmPwd");
                if(pwd=="" || pwd==null){
                    errpwd.innerHTML="Choose a password";
                    errpwd.style.color = "red";
                }
                if(confirmPwd == "" || confirmPwd == null){
                    errConfirmPwd.innerHTML = "Re-type the password"
                    errConfirmPwd.style.color = "red";
                }
                else if(pwd!=confirmPwd){
                    errConfirmPwd.innerHTML = "Password don't match";
                }
            }
            
            function genderValidator(){
                var errGender = document.getElementById("errGender");
                var genderGroup = document.regForm.optGender;
                //var male = document.regform.optGender[0].checked;
                //var female = document.regForm.optGender[1].checked;
                /*if((document.form.optGender[0].checked==false) && (document.form.optGender[1].checked==false)){
                    errGender.innerHTML = "Please select one of the options";
                }*/
                /*if(male==false && female==false){
                    errGender.innerHTML = "Please select one of the options";
                    errGender.style.color="red";
                }*/
                for(var i=0; i<genderGroup.length; i++){
                    if(genderGroup[i].checked){
                        break;
                    }
                }
                if(i==genderGroup.length){
                    return errGender.innerHTML = "Please select one of the options";
                    errGender.innerHTML = "You selected: ";
                }
            }
              
            function validator(){
                nameValidator();
                userNameValidator();
                emailValidator();
                phoneValidator();
                passwordValidator();
                genderValidator();
            }
</script>
   <style>
   		.text { color: #003;
				text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			text-shadow: #8A7BA8 0 0 10px;
		}
		.rot {-moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipV;
            -ms-filter: 'FlipV'
		}

	</style>
</head>

<body class="container">
<p width="37%" height="69" align="left"><a href="Home.html"><img src="Images/all.jpg" width="13%" height=20%></a><img src="images/cm.gif" class="rot" width="82" height="71" alt="A" /></p>
<table width="509" height="414" border="0" align="center" cellpadding="3" cellspacing="3" bgcolor="#FF9900"  class="text">
        <td>&nbsp;</td>
        <td><h1>Registration</h1></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>  </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>
        <form  th:action="@{/registration}" method="post" >
            <div class="form-group">
                <label for="name" class="control-label col-sm-2">Full Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="firstName" maxlength="10" placeholder="Enter name">
                </div>
                <span class="col-sm-6" ><p id="errFName" ></p></span>
             </div>    
           
            <div class="form-group">
                <label for="userName" class="control-label col-sm-2">User Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="LastName" maxlength="7" placeholder="Enter user name">
                </div>
                 <span class="col-sm-6"><p id="errUName"> </p></span>
            </div>
            
            <div class="form-group">
                <label for="email" class="control-label col-sm-2">E-Mail:</label>
                <div class="col-sm-4">
                    <input type="email" class="form-control" name="email" placeholder="someone@example.com">
                </div>
                 <span class="col-sm-6" ><p id="errEmail"> </p></span>
            </div>
            <div class="form-group">
                <label for="phone" class="control-label col-sm-2">Phone No.:</label>
                <div class="col-sm-4">
                     <input type="tel" class="form-control" name="phoneNumber" placeholder="+91xxxxxxxxxx">
                </div>
                <span class="col-sm-6" ><p id="errPhone"> </p></span>
            </div>
           
            <div class="form-group">
                <label for="pwd" class="control-label col-sm-2">Password:</label>
                <div class="col-sm-4">
                    <input type="password" class="form-control" name="password" maxlength="6" placeholder="Enter password">
                </div>
                 <span class="col-sm-6" ><p id="errPwd"> </p></span>
            </div>
            
            <div class="form-group">
                <label for="confirmPassword" class="control-label col-sm-2">Confirm Password:</label>
                <div class="col-sm-4">
                    <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" maxlength="6" placeholder="Re-type password">
                </div>
                 <span class="col-sm-6" ><p id="errConfirmPwd"> </p></span>
            </div>
            

            
            <div class="col-sm-6">
                <input type="submit" value="Submit" class="btn btn-primary btn-lg" >
            </div>
        </form>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        </tr>
      
    </table>
</form>
</body>
</html>
