<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Forms Exemple</title>
<script>

            function nameValidator(){
                var name = document.regForm.fullName.value;
                var errName = document.getElementById("errFName");
                if(name == "" || name == null){
                    //alert(name);
                    errName.innerHTML = "Provide Name";
                    errName.style.color = "red";
                }
            }
            function userNameValidator(){
                var userName = document.regForm.userName.value;
                var errUserName = document.getElementById("errUName");
                if(userName=="" || userName==null){
                    errUserName.innerHTML = "Provide User Name";
                    errUserName.style.color = "red";
                }
            }
            
            function emailValidator(){
                var email = document.regForm.email.value;
                var errEmail = document.getElementById("errEmail");
                if(email=="" || email==null){
                    errEmail.innerHTML = "Provide email";
                    errEmail.style.color = "red";
                }
            }
            
            function phoneValidator(){
                var phone = document.regForm.phone.value;
                var errPhone = document.getElementById("errPhone");
                if(phone=="" || phone==null){
                    errPhone.innerHTML = "Provide Phone number";
                    errPhone.style.color = "red";
                }
            }

            function passwordValidator(){
                var pwd = document.regForm.password.value;
                var confirmPwd = document.regForm.confirmPassword.value;
                var errpwd = document.getElementById("errPwd");
                var errConfirmPwd = document.getElementById("errConfirmPwd");
                if(pwd=="" || pwd==null){
                    errpwd.innerHTML="Choose a password";
                    errpwd.style.color = "red";
                }
                if(confirmPwd == "" || confirmPwd == null){
                    errConfirmPwd.innerHTML = "Re-type the password"
                    errConfirmPwd.style.color = "red";
                }
                else if(pwd!=confirmPwd){
                    errConfirmPwd.innerHTML = "Password don't match";
                }
            }
            function validatePassword() {
                var password = document.getElementById("password")
                    , confirm_password = document.getElementById("confirm_password");


                    if(password.value != confirm_password.value) {
                        confirm_password.setCustomValidity("Passwords Don't Match");
                    } else {
                        confirm_password.setCustomValidity('');
                    }
                console.log("password")
            }



            function genderValidator(){
                var errGender = document.getElementById("errGender");
                var genderGroup = document.regForm.optGender;

                for(var i=0; genderGroup.length > i; i++){
                    if(genderGroup[i].checked){
                        break;
                    }
                }
                if(i==genderGroup.length){
                    return errGender.innerHTML = "Please select one of the options";
                    errGender.innerHTML = "You selected: ";
                }
            }
              
            function validator(){
                nameValidator();
                userNameValidator();
                emailValidator();
                phoneValidator();
                passwordValidator();
                genderValidator();
            }

</script>
   <style>
   		.text { color: #003;
				text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			text-shadow: #8A7BA8 0 0 10px;
		}
		.rot {-moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            -ms-filter: 'FlipV'
		}

	</style>
</head>

<body>
<form name="registration" method="POST">
<p width="37%" height="69" align="left"><a href="Home.html"><img src="Images/all.jpg" width="13%" height=20%></a><img src="images/cm.gif" class="rot" width="82" height="71" alt="A" /></p>
<table width="509" height="414" border="0" align="center" cellpadding="3" cellspacing="3" bgcolor="#FF9900"  class="text">
      <tr>
        <td width="60" >&nbsp;</td>
        <td width="394" >&nbsp;</td>
        <td width="25" >&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><h1>Registration</h1></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>  </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><div class="form-group">
                <label for="firstName" class="control-label col-sm-2">First Name:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="firstName" id = "firstName" maxlength="10" placeholder="Enter name">
                </div>
                <span class="col-sm-6" ><p id="errFName" ></p></span>
             </div> </td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><div class="form-group">
                <label for="lastName" class="control-label col-sm-2">Last Name:</label>
                <div class="col-sm-4">
                    <input type="text" id = "lastName" class="form-control" name="lastName" maxlength="7" placeholder="Enter user name">
                </div>
                 <span class="col-sm-6"><p id="errUName"> </p></span>
            </div></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><div class="form-group">
                <label for="email" class="control-label col-sm-2">E-Mail:</label>
                <div class="col-sm-4">
                    <input type="email" id="email" class="form-control" name="email" placeholder="someone@example.com">
                </div>
                 <span class="col-sm-6" ><p id="errEmail"> </p></span>
            </div></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><div class="form-group">
                <label for="phone"  class="control-label col-sm-2">Phone No.:</label>
                <div class="col-sm-4">
                     <input type="tel" id="phone" class="form-control" name="phoneNumber" placeholder="+91xxxxxxxxxx">
                </div>
                <span class="col-sm-6" ><p id="errPhone"> </p></span>
            </div></td>
        <td></td>
      </tr>
        <td>&nbsp;</td>
        <td><div class="form-group">
                <label for="password" class="control-label col-sm-2">Password:</label>
                <div class="col-sm-4">
                    <input type="password" name="password" placeholder="Password" id="password" required>
                </div>
                 <span class="col-sm-6" ><p id="errPwd"> </p></span>
            </div></td>
        <td>&nbsp;</td>
                    <tr>

        <td><div class="form-group">
                <label for="confirm_password" class="control-label col-sm-2">Confirm Password:</label>
                <div class="col-sm-4">
                    <input type="password" placeholder="Confirm Password" id="confirm_password" onchange="validatePassword()" required>

                </div>
                 <span class="col-sm-6" ><p id="ConfirmPwd"> </p></span>
            </div></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
      </tr>
      <tr>
        <td>&nbsp;</td>
          <!--gender checking chenq uzum-->
        <!--<td><div class="form-group">-->
                <!--<label for="optGender" class="control-label col-sm-2">Gender:</label>-->
                <!--<div class="radio btn col-sm-1">-->
                    <!--<label class="radio-inline"><input type="radio" id="optGender" name="optGender" value="Male">Male</label>-->
                <!--</div>-->
                <!--<div class="radio btn col-sm-3">-->
                    <!--<label class="radio-inline"><input type="radio" id = "fGender" name="optGender" value="Female">Female </label>-->
                <!--</div>-->
                 <!--<span class="col-sm-6" ><p id="errGender"> </p></span>-->
            <!--</div></td>-->
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><div class="col-sm-6">
                <input type="submit" value="Submit" class="btn btn-primary btn-lg" onClick="validator()">
            </div></td>
        <td>&nbsp;</td>
      </tr>
    </table>
</form>
</body>
</html>
